{% extends "main.html" %}
{% block tips %}


    {% for tip in tips %}
        {{ tip.tips_name }}<br>
        {{ tip.category_name }}<br>
        {{ tip.tips_description }}<br>
        {{ tip.tips_date }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header teal lighten-1"><i class="fas fa-caret-down"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header teal lighten-1"><i class="fas fa-caret-down"></i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header teal lighten-1"><i class="fas fa-caret-down"></i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

{% endblock %}
