{% extends "main.html" %}
{% block tips %}


    
    <ul class="collapsible">
        {% for tip in tips %}
        <li>
            <div class="collapsible-header teal lighten-1">
                <i class="fas fa-caret-down"></i>
                <strong>{{ tip.tips_name }}</strong> : {{ tip.tips_date }}
            </div>
            <div class="collapsible-body">
                <strong>{{ tip.category_name }}</strong>
                <p>{{ tip.tips_description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
